# Environments
.env
.env.*
!.env.example

# Secrets and Keys
# rsa keys are kept in repo for ec2 deployment

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/

# Node
node_modules/
.next/

# Temporary / OS Files
.DS_Store
*.save
*.backup
test_simple.py
test_snowflake_ec2.py
